input {
    height: 30px !important;
}

input[type=checkbox] {
    height: 30px !important;
    margin-top: -3px !important;
    margin-right: 5px !important;
    box-shadow: none;
    background-color: #ffffff;
    position: relative !important;
}

textarea {
    width: 90%;
    margin: 0 auto;
    display: block;
}

input[type=radio] {
    height: 30px !important;
    margin-top: -3px !important;
    margin-right: 5px !important;
    box-shadow: none;
    background-color: #ffffff;
    position: relative !important;
}

.form-group input,
.form-group select {
    height: 30px;
    padding: 0px 12px;
}

.form-horizontal .form-group {
    margin: 10px;
}

.formContainer .formControlLabel {
    width: auto !important;
    min-width: 150px;
    margin: 0;
    padding: 0;
}

.formControls {
    width: 100%;
    padding: 0;
    margin: 10px 0 20px auto;
}

.radio {
    padding-top: 0 !important;
    padding-left: 8px !important;
}

.radio-inline {
    margin-right: 10px;
    padding-top: 0 !important;
    display: inline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.clear {
    width: 100%;
    margin: 0 !important;
}

.rsform-block-submit {
    display: none;
}

.show {
    display: block !important;
}

.rsform-block-placecontent {
    display: none;
}

#submit {
    margin: 0 auto;
    display: block;
}

/* QUIZ STYLES */
ol,
ul {
    list-style: none;
}

strong {
    font-weight: 700;
}

#frame {
    width: auto;
    max-width: 800px;
    background: transparent;
    margin: 3px auto;
    padding: 10px;
    color: #333 !important;
}

div#frame h2 {
    width: auto;
    border-bottom: 1px solid #bdbdbd;
    padding: 0 0 5px 0;
    font-size: 30px;
}

h3.question {
    font-weight: normal;
    margin: 20px 0;
    padding: 0;
    font-style: italic;
    display: block;
}

p.pager {
    margin: 5px 0 5px;
    color: #999;
    text-align: right;
}

.qnumber {
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    vertical-align: bottom;
}

.number {
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    vertical-align: inherit;
    padding-right: 10px;
}

.score {
    width: 100%;
    display: inline-block;
    margin: 30px 0;
    font-size: 100px;
    text-align: center;
}

img.question-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 250px;
    margin: 10px auto;
    border: 1px solid #ccc;
}

#choice-block {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*	#submitbutton 											{ cursor:pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; } */
/*	#submitbutton:hover 									{ background:#7b8da6; } */
#explanation {
    width: auto;
    min-height: 100px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

#explanation span {
    font-weight: bold;
    padding-right: 8px;
}

.choice-box {
    width: 100%;
    display: block;
    text-align: center;
    margin: 5px auto !important;
    padding: 10px 0 !important;
    border: 1px solid #bdbdbd;
}

.correct {
    color: #51a351;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px #51a351 solid;
    padding-bottom: 5px;
}

.incorrect {
    color: #f93939;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px #f93939 solid;
    padding-bottom: 5px;
}
